@import url('https://fonts.cdnfonts.com/css/open-sans');

@font-face {
	font-family: "Optima Nova LT Pro";
	src: url(https://fonts.cdnfonts.com/s/44510/OptimaNovaLTProRegular.woff);
}

:root {
	--primary-color: #489a2b;
	--light-color: #c1e1bd;
	--dark-color: #0e7237;
}

body {
	height: 100%;
	overflow: hidden;
	text-align: left;
	font-family: "Open Sans";
	font-size: 1.2vw;
}

img {
	max-width: 100%;
	max-height: 100%;
}

h1 {
	font-size: 1.7vw;
}

#newton_banner {
	height: 100%;
	width: auto;
}

#container_next_to_newton_banner {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 7.5%;
}

#div_reclame_banner {
	position: absolute;
	bottom: 0;
	height: 20%;
	width: 100%;
	left: 0;
	background-color: transparent;
}

#reclame_banner {
	height: 100%;
	width: auto;
	display: block;
	margin: auto;
}

#info {
	position: relative;
	height: 80%;
	width: 33.33%;
    float: right;
	background-color: var(--light-color);
	padding: 0 1vw 0 1vw;
	column-gap: 10vw;

	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.info-element {
	width: 100%;
    flex: 0 0 auto;
}

#photo-heading {
	height: 24%;
	padding: 6vh 1vw 6vh 9vw;
	text-align: left;
}

#photo-album {
	font-size: 2.5vw;
	font-weight: bold;
}

#photo-year {
	font-size: 2vw;
}

#div_photo {
	height: 56%;
}

#photo {
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}

#video {
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}

#spotify {
	width: 100%;
	height: 5vw;
	display: flex;
	flex-direction: row;
}

#spotify-album {
	height: 100%;
	width: fit-content;
	flex-shrink: 0;
	padding: .5vw 0 .5vw 0;
}

#spotify-song-title {
	font-size: 1.7vw;
	font-weight: 600;
}

#spotify-artists {
	font-size: 1.4vw;
}

#spotify-names {
	margin: auto;
	margin-left: 0.75vw;
	text-align: left;
	line-height: 1.8vw;

	/* add ellipsis if line is too long */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.col-xs-3.event-date {
	text-align: right;
	width: 18%;
	padding-left: 0;
}

#folder_selector {
	position: relative;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: scroll;
}

#folder_selector .btn {
	font-size: 1.5em;
	width: 100%;
	margin-bottom: 10px;
}

#left_banner {
	height: 100%;
	width: 7.5vw;

	position: absolute;

	color: white;
	background-color: var(--primary-color);
}

#left_banner_logo {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: var(--primary-color);
	background-color: white;

	width: 200%;
	margin-top: -3vh;
	padding: 5%;
	border-radius: 0% 50% / 25%;
}

#left_banner_text {
	transform: rotate(-90deg);
	transform-origin: 0 0;

	position: absolute;
	top: 100%;
	width: 79vh;
	line-height: 200%;
	text-align: center;

	font-family: "Optima Nova LT Pro";
	font-size: 3.75vw;
}